*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: sans-serif;
    display: grid;
  grid-template-columns: auto  ;
  padding: 10px;
  background-color: black;
}
/* Side bar ---------------------- */
.btnSide {
    width: 100px;
    height: 40px;
    margin: 40px 20px;
    background-color: transparent;
    border: none;
    position: fixed;
    z-index: 11;
    font-size: 25px;
    cursor: pointer;
    color: aliceblue;
}
.close::before {
    content: '\002613  Close';
}
.open::before {
    content: '\002630  Open';
}
.sideBar{
    width: 200px;
    height: 100vh;
    padding: 0 50px;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(17, 13, 13);
    box-shadow: rgba(107, 109, 100, 0.877) 0px 0px 10px;
    position: fixed;
    top:100px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}

.sideBar li {
    list-style-type: none;
    margin-top: 20px;
}
.sideBar li a {
    color: aliceblue;
    text-decoration: none;
}
.nav-in-sidebar {
    margin: 50px 0;
}
@media screen and (min-width:514px) {
    .nav-in-sidebar {
        display: none;
    }
}

/* Header ---------------------------------------- */
.header {
    width: 100%;
    height: 900px;
    background-image: url(wp630435-robot-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}
@media screen and (max-width:1052px) {
    .header {
        background-image: url(hands.jpg);
        
    }
}
/* Navbar ----------------------------------------- */
.header .navbar {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
}   
.header li{
    display: inline-block;
    margin: 20px;
}

.header .navbar a {
    text-decoration: none;
    color: aliceblue;
}
.header .navbar a:hover {
    text-decoration: none;
    color: red;
   

}
@media screen and (max-width:515px) {
    .header .navbar {
        display: none;
    }
}



.text-head {
    width: 410px;
    height: 140px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.textHead{
    width: 410px;
    height: 139px;
    font-family: text1;
    margin:100px auto;
    position: absolute;
    font-size: 120px;
    text-shadow:rgba(27, 46, 14, 0.938) 5px 2px 1px ;
}
.textHead span {
    margin-left: 25px;
}
.z1{z-index: 7; color: blueviolet; position: absolute; }
.z1:hover{transform: scale(1.1); cursor: pointer;}

.z2{z-index: 6; color: aqua; position: absolute; left:75px;}
.z2:hover{transform: scale(1.1); cursor: pointer;}

.z3{z-index: 5; color: brown; position: absolute; left: 140px;}
.z3:hover{transform: scale(1.1); cursor: pointer;}

.z4{z-index: 4; color: chocolate; position: absolute; left: 180px;}
.z4:hover{transform: scale(1.1); cursor: pointer;}

.z5{z-index: 3; color: cornflowerblue; position: absolute ; left: 220px;}
.z5:hover{transform: scale(1.1); cursor: pointer;}

.z6{z-index: 2; color: darkcyan; position: absolute; left: 260px;}
.z6:hover{transform: scale(1.1); cursor: pointer;}

.z7{z-index: 1;  color: blueviolet; position: absolute; left: 290px;}
.z7:hover{transform: scale(1.1); cursor: pointer;}

/* Main ---------------------------------- */

.main{
    width: 100%;
    height: auto;
    
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.group-programming {
    width: 500px;
    height: 100px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ------------ */
.container-item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    color: #ccc;
}


.div-finger {
    width: 500px;
    height: 250px;
    border-radius: 15px;
    background-color: rgb(46, 6, 6);
}
.div-finger img {
    border-radius: 50%;
}
.div-finger p {
    padding: 10px;
}

/*  */

.informatio-finger_print {
    width: 700px;
    height: 500px;
}
.informatio-finger_print img {
    width: 100%;
}
.informatio-finger_print p {
    padding:  5px;
}
@media screen and (max-width: 1340px){
    .container-item {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .div-finger {
        
    }
    .informatio-finger_print {
        margin-top: 100px;
    }
}
@media screen and (max-width: 800px) {
    .div-finger {
        width: 300px;
        height: 300px;
    }
    .div-finger p {
        padding: 10px;
    }
    .informatio-finger_print {
        width: 400px;
    }
}
@media screen and (max-width: 600px) {
    .div-finger {
        width: 300px;
        height: 300px;
    }
    .div-finger p {
        padding: 10px;
    }
    .informatio-finger_print {
        width: 300px;
    }
}
@media screen and (max-width:513px) {
    .group-programming {
        display: none;
    }
}